<a href="https://colab.research.google.com/github/yuki-tamaribuchi/stats_code_kata/blob/master/kaggle_spotify_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!cp -r drive/'My Drive'/spotify_datasets/ /content/

In [2]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
spotify_df=pd.read_csv('spotify_datasets/genres_v2.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
spotify_df.head()

   danceability  energy  ...  Unnamed: 0  title
0         0.831   0.814  ...         NaN    NaN
1         0.719   0.493  ...         NaN    NaN
2         0.850   0.893  ...         NaN    NaN
3         0.476   0.781  ...         NaN    NaN
4         0.798   0.624  ...         NaN    NaN

[5 rows x 22 columns]

In [5]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42305 entries, 0 to 42304
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   danceability      42305 non-null  float64
 1   energy            42305 non-null  float64
 2   key               42305 non-null  int64
 3   loudness          42305 non-null  float64
 4   mode              42305 non-null  int64
 5   speechiness       42305 non-null  float64
 6   acousticness      42305 non-null  float64
 7   instrumentalness  42305 non-null  float64
 8   liveness          42305 non-null  float64
 9   valence           42305 non-null  float64
 10  tempo             42305 non-null  float64
 11  type              42305 non-null  object
 12  id                42305 non-null  object
 13  uri               42305 non-null  object
 14  track_href        42305 non-null  object
 15  analysis_url      42305 non-null  object
 16  duration_ms       42305 non-null  int64
 17  time_signature    42305 non-null  int64
 18  genre             42305 non-null  object
 19  song_name         21519 non-null  object
 20  Unnamed: 0        20780 non-null  float64
 21  title             20780 non-null  object
dtypes: float64(10), int64(4), object(8)
memory usage: 7.1+ MB

In [6]:
spotify_df=spotify_df.drop(['song_name','Unnamed: 0','title','uri','track_href','analysis_url','type','id'],axis=1)

In [7]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42305 entries, 0 to 42304
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   danceability      42305 non-null  float64
 1   energy            42305 non-null  float64
 2   key               42305 non-null  int64
 3   loudness          42305 non-null  float64
 4   mode              42305 non-null  int64
 5   speechiness       42305 non-null  float64
 6   acousticness      42305 non-null  float64
 7   instrumentalness  42305 non-null  float64
 8   liveness          42305 non-null  float64
 9   valence           42305 non-null  float64
 10  tempo             42305 non-null  float64
 11  duration_ms       42305 non-null  int64
 12  time_signature    42305 non-null  int64
 13  genre             42305 non-null  object
dtypes: float64(9), int64(4), object(1)
memory usage: 4.5+ MB

In [8]:
key_dummies=pd.get_dummies(spotify_df['key'],prefix='key')
time_signature_dummies=pd.get_dummies(spotify_df['time_signature'],prefix='time_signature')

le_genre=LabelEncoder()
genre_labels=pd.DataFrame(le_genre.fit_transform(spotify_df['genre']))

spotify_df=spotify_df.drop(['key','time_signature','genre'],axis=1)
spotify_df=pd.concat([spotify_df,key_dummies,time_signature_dummies],axis=1)

scaler=StandardScaler()
scaled_spotify_df=scaler.fit_transform(spotify_df)

In [9]:
spotify_df

       danceability  energy  ...  time_signature_4  time_signature_5
0             0.831   0.814  ...                 1                 0
1             0.719   0.493  ...                 1                 0
2             0.850   0.893  ...                 1                 0
3             0.476   0.781  ...                 0                 0
4             0.798   0.624  ...                 1                 0
...             ...     ...  ...               ...               ...
42300         0.528   0.693  ...                 1                 0
42301         0.517   0.768  ...                 1                 0
42302         0.361   0.821  ...                 1                 0
42303         0.477   0.921  ...                 1                 0
42304         0.529   0.945  ...                 1                 0

[42305 rows x 27 columns]

In [10]:
genre_labels

       0
0      0
1      0
2      0
3      0
4      0
...   ..
42300  9
42301  9
42302  9
42303  9
42304  9

[42305 rows x 1 columns]